<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278095180785-3b500v19hu3o2o39hghmch22avbbq8ei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278095180785-3b500v19hu3o2o39hghmch22avbbq8ei</string>
	<key>API_KEY</key>
	<string>AIzaSyBQW-OZxt8IxUiP0o6b2xe5Q2lvwHjxCFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>278095180785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ocr.TestFirebase</string>
	<key>PROJECT_ID</key>
	<string>testfirebase-24d64</string>
	<key>STORAGE_BUCKET</key>
	<string>testfirebase-24d64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278095180785:ios:c27eeb604fe25834c58a50</string>
</dict>
</plist>